{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
       
            <div id="status">
            </div>

         {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}<br>
        <code>{{ base_dir }}</code><br>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
  
</style>
{% endblock %}
