{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">

<p>       
[NOTE: Currently being Developed/Refactored. CLI commands are almost complete. At some point thereafter once that has settled, a proper web admin will be made.]
</p>

<p>       
AtlasGrove takes Tiger/Line shapefiles from the US Census Bureau and renders them into usable images.
</p>

<p>       
Version 2.x of this software is a Symfony 3.x rewrite of older bespoke/framework-less software.
</p>
       <p>
   Please see the git Readme.md or <a href="https://github.com/lasellers/AtlasGrove/wiki">Wiki</a> for full information.
   </p>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
  
</style>
{% endblock %}
