{% extends 'base.html.twig' %}

{% block body %}


    <div id="wrapper">
        <div id="container">
            

            <form>
            id <input type="text" name="id" id="id">
            </form>

            <form>
            xMin <input type="text" name="xMin" id="xMin">
            yMin <input type="text" name="yMin" id="yMin">
            xMax <input type="text" name="xMax" id="xMax">
            yMax <input type="text" name="yMax" id="yMax">
            </form>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
