{% extends 'base.html.twig' %}

{% block body %}


    <div id="wrapper">
        <div id="container">
  
            <div id="status">
                
            </div>



<h3>Raw</h3>
<ul id="">
        {% for file in records %}
            <li><a href="{{ file }}">{{ file }}</a></li>
        {% endfor %}
        </ul>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
